body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: rgb(10, 124, 153);
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    
}
input {
    padding: 10px;
    font-size: 16px;
    color: rgb(216, 132, 23);
}
button {
    padding: 10px;
    background-color: #ffae00;
    color: rgb(4, 70, 9);
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}